* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  min-height: 100%; }

body {
  background-color: #CFCBC8;
  font-family: "Ubuntu", sans-serif;
  color: #2E2D59; }

.contenedor__grid {
  animation: movimiento 2s ease-in-out backwards; }

@keyframes movimiento {
  0% {
    transform: translateY(10vh);
    opacity: 0; }
  50% {
    opacity: 1; }
  70% {
    opacity: 1; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

.container-fluid h1 {
  font-size: 6rem;
  font-weight: 200;
  letter-spacing: -6px;
  line-height: 100%; }

.container-fluid h2 {
  font-size: 5rem;
  font-weight: 200;
  letter-spacing: -6px;
  line-height: 100%; }

.container-fluid h3 {
  font-size: 2, 25rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 120%; }

.container-fluid h4 {
  font-size: 1, 75rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 100%; }

.container-fluid h5 {
  font-size: 1, 25rem;
  font-weight: 100;
  letter-spacing: 0;
  line-height: 120%; }

.container-fluid p {
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 150%; }

header .sticky {
  position: sticky;
  top: 0;
  background-color: #CFCBC8;
  z-index: 1;
  margin-bottom: 4rem; }

header .contenedor__sticky {
  position: sticky;
  top: 80px; }

header .logo {
  width: 10%;
  height: auto; }

header .nav-link {
  font-family: "Ubuntu", sans-serif;
  font-size: 0, 875rem;
  position: relative; }
  header .nav-link a {
    position: relative; }
  header .nav-link::after {
    content: '';
    width: 0%;
    height: 1px;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    background: #2E2D59;
    transition: widht 0.5s; }
  header .nav-link:hover::after {
    width: 50%; }
  header .nav-link.navbar-brand:hover::after {
    width: 0%; }

.contenedor__grid footer {
  margin-top: 8rem; }
  .contenedor__grid footer .redes {
    display: flex; }
    .contenedor__grid footer .redes i {
      padding-top: 0, 75rem;
      padding-right: 0, 75rem; }
    .contenedor__grid footer .redes a {
      text-decoration: none;
      color: #1C1B50; }

.container-fluid .sticky-top {
  background-color: #CFCBC8; }

.form-group textarea {
  min-height: 160px;
  background-color: #CFCBC8;
  border: 0.5px solid #1C1B50;
  resize: none; }

.form-group input {
  background-color: #CFCBC8;
  border: 0.5px solid #1C1B50; }

.btn-primary {
  background-color: #CFCBC8;
  border: 0.5px solid #1C1B50;
  color: #1C1B50; }
  .btn-primary:hover {
    background-color: #1C1B50;
    color: #CFCBC8; }

.contenedor__grid .seccion__titulo {
  margin-bottom: 4rem;
  margin-top: 4rem; }

.contenedor__grid .seccion__contenido {
  margin-bottom: 0, 25rem; }
  .contenedor__grid .seccion__contenido img {
    max-width: 100%; }
  .contenedor__grid .seccion__contenido h2 {
    margin-bottom: 4rem;
    margin-top: 4rem; }

.contenedor__grid .seccion__texto2 {
  margin-bottom: 4rem; }
  .contenedor__grid .seccion__texto2 .texto2--bajada {
    margin-top: 4rem; }

.contenedor__grid .seccion__flecha {
  margin-bottom: 4rem;
  margin-top: 8rem; }

.contenedor__grid .flecha__img {
  width: 5%;
  margin-bottom: 4rem; }

@media (max-width: 1200px) {
  .seccion__titulo h1,
  .seccion__contenido h1,
  .seccion__flecha h1,
  .seccion__texto h1,
  .seccion__texto2 h1 {
    font-size: 80px; }
  .seccion__titulo h2,
  .seccion__contenido h2,
  .seccion__flecha h2,
  .seccion__texto h2,
  .seccion__texto2 h2 {
    font-size: 40px;
    letter-spacing: 0; }
  .seccion__titulo h5,
  .seccion__contenido h5,
  .seccion__flecha h5,
  .seccion__texto h5,
  .seccion__texto2 h5 {
    font-size: 16px; }
  .navbar-nav a {
    font-size: 12px; } }

@media (max-width: 1000px) {
  .seccion__titulo h1,
  .seccion__contenido h1,
  .seccion__flecha h1,
  .seccion__texto h1,
  .seccion__texto2 h1 {
    font-size: 60px;
    letter-spacing: 0; }
  .seccion__titulo h2,
  .seccion__contenido h2,
  .seccion__flecha h2,
  .seccion__texto h2,
  .seccion__texto2 h2 {
    font-size: 32px; }
  .seccion__titulo h5,
  .seccion__contenido h5,
  .seccion__flecha h5,
  .seccion__texto h5,
  .seccion__texto2 h5 {
    font-size: 14px; }
  .seccion__titulo p,
  .seccion__contenido p,
  .seccion__flecha p,
  .seccion__texto p,
  .seccion__texto2 p {
    font-size: 14px; } }

@media (max-width: 850px) {
  .seccion__titulo h1,
  .seccion__contenido h1,
  .seccion__flecha h1,
  .seccion__texto h1,
  .seccion__texto2 h1 {
    font-size: 50px; }
  .seccion__titulo h2,
  .seccion__contenido h2,
  .seccion__flecha h2,
  .seccion__texto h2,
  .seccion__texto2 h2 {
    font-size: 28px; }
  .seccion__titulo h4,
  .seccion__contenido h4,
  .seccion__flecha h4,
  .seccion__texto h4,
  .seccion__texto2 h4 {
    font-size: 24px; }
  .seccion__titulo h3,
  .seccion__contenido h3,
  .seccion__flecha h3,
  .seccion__texto h3,
  .seccion__texto2 h3 {
    font-size: 32px; } }

@media (max-width: 700px) {
  .seccion__titulo h1,
  .seccion__contenido h1,
  .seccion__flecha h1,
  .seccion__texto h1,
  .seccion__texto2 h1 {
    font-size: 40px; }
  .seccion__titulo h2,
  .seccion__contenido h2,
  .seccion__flecha h2,
  .seccion__texto h2,
  .seccion__texto2 h2 {
    font-size: 24px; }
  .seccion__titulo h4,
  .seccion__contenido h4,
  .seccion__flecha h4,
  .seccion__texto h4,
  .seccion__texto2 h4 {
    font-size: 20px; }
  .seccion__titulo h3,
  .seccion__contenido h3,
  .seccion__flecha h3,
  .seccion__texto h3,
  .seccion__texto2 h3 {
    font-size: 18px; }
  .seccion__titulo p,
  .seccion__contenido p,
  .seccion__flecha p,
  .seccion__texto p,
  .seccion__texto2 p {
    font-size: 10px; } }

@media (max-width: 555px) {
  .seccion__titulo h1,
  .seccion__contenido h1,
  .seccion__flecha h1,
  .seccion__texto h1,
  .seccion__texto2 h1 {
    font-size: 30px; }
  .seccion__titulo h2,
  .seccion__contenido h2,
  .seccion__flecha h2,
  .seccion__texto h2,
  .seccion__texto2 h2 {
    font-size: 22px; }
  .seccion__titulo h4,
  .seccion__contenido h4,
  .seccion__flecha h4,
  .seccion__texto h4,
  .seccion__texto2 h4 {
    font-size: 18px; }
  .seccion__titulo h3,
  .seccion__contenido h3,
  .seccion__flecha h3,
  .seccion__texto h3,
  .seccion__texto2 h3 {
    font-size: 18px; }
  .seccion__titulo h5,
  .seccion__contenido h5,
  .seccion__flecha h5,
  .seccion__texto h5,
  .seccion__texto2 h5 {
    font-size: 12px; }
  .seccion__titulo p,
  .seccion__contenido p,
  .seccion__flecha p,
  .seccion__texto p,
  .seccion__texto2 p {
    font-size: 10px; }
  .navbar-brand img {
    visibility: hidden; } }
