.contenedor__grid {

    .seccion__titulo {
        margin-bottom: map-get($mapa-espaciado , 'espacio-xl');
        margin-top:map-get($mapa-espaciado , 'espacio-xl');
    }

    .seccion__contenido {
        margin-bottom: map-get($mapa-espaciado , 'espacio-2xs');

        & img {
            max-width: 100%;
        }
        h2 {
          margin-bottom: map-get($mapa-espaciado , 'espacio-xl');
          margin-top:map-get($mapa-espaciado , 'espacio-xl');
          }
      }

    .seccion__texto {
        margin-bottom: map-get($mapa-espaciado , 'espacio-l');
      }
    
    .seccion__texto2 {
        margin-bottom: map-get($mapa-espaciado , 'espacio-xl');
        .texto2--bajada {
          margin-top:map-get($mapa-espaciado , 'espacio-xl');
        }
      }

    .seccion__flecha {
      margin-bottom: map-get($mapa-espaciado , 'espacio-xl');
      margin-top:map-get($mapa-espaciado , 'espacio-2xl');
      
    }

    .flecha__img{
      width: 5%;
      margin-bottom: map-get($mapa-espaciado , 'espacio-xl');
    } 
  }


  









