.contenedor__grid {

    .seccion__titulo {
        margin-bottom: $espacio-xl;
    }

    .seccion__contenido {
        margin-bottom: $espacio-2xs;
      }

    .seccion__texto {
        margin-bottom: $espacio-l;
      }
    
    .seccion__texto2 {
        margin-bottom: $espacio-2xl;
      }

}
