.contenedor__grid {
    footer {
      margin-top: map-get($mapa-espaciado , 'espacio-2xl' );
      .redes{
        display: flex;
        i {
          padding-top: map-get($mapa-espaciado , 'espacio-xs' );
          padding-right: map-get($mapa-espaciado , 'espacio-xs' );
        }
        a{
          text-decoration: none;
          color: map-get($mapa-color , 'color-principal-oscuro' );
        }
      }
    }
  }
  
.container-fluid {
    .sticky-top {
        background-color: map-get($mapa-color ,'color-fondo-oscuro' );
    }
}
