header {

        .sticky{
            position: sticky;
            top:0;
            background-color: map-get($mapa-color, 'color-fondo-oscuro');
            z-index: 1;
            margin-bottom: $espacio-xl;
        }

        .logo {
            width: 10%;
            height: auto;
        }

        .nav-link {
            font-family: $font;
            font-size: map-get($mapa-tipografia , 'texto-link');
            position: relative;

            a {
                position: relative;
            }

            &::after {
                content: '';
                width: 0%;
                height: 1px;
                position: absolute;
                bottom: 5px;
                left: 50%;
                transform: translateX(-50%);
                background: map-get($mapa-color , 'color-principal-medio');
                transition: widht 0.5s;
            }

            &:hover::after{
                width: 50%;
            }

            &.navbar-brand:hover::after {
                width: 0%;
            }
          }
}
