.contenedor__grid {
    animation: movimiento 2s ease-in-out backwards;
  } 

  @keyframes movimiento {
    0%{
      transform: translateY(10vh);
      opacity: 0;
    }
    50%{
      opacity: 1;
    }
    70%{
      opacity: 1;
    }
    100%{
      transform: translateY(0);
      opacity: 1;
    }
  }


.container-fluid {
    
  h1 {
    font-size: map-get($mapa-tipografia, $texto-h1);
    @include tipografico($weight-regular, $spacing-condensada, $height-normal);
  }

  h2 {
    font-size: map-get($mapa-tipografia, $texto-h2);
    @include tipografico($weight-regular, $spacing-condensada, $height-normal);
  }

  h3 {
    font-size: map-get($mapa-tipografia, $texto-h3);
    @include tipografico($weight-bold, $spacing-normal, $height-small);
  }

  h4 {
    font-size: map-get($mapa-tipografia, $texto-h4);
    @include tipografico($weight-bold, $spacing-normal, $height-normal);
  }

  h5 {
    font-size: map-get($mapa-tipografia, $texto-h5);
    @include tipografico($weight-light, $spacing-normal, $height-small);
  }

  p {
    font-size: map-get($mapa-tipografia, $texto-p);
    @include tipografico($weight-regular, $spacing-normal, $height-large);
  }
}

