* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html {
    min-height: 100%;
  }

  body {
    background-color: map-get($mapa-color, 'color-fondo-oscuro');
    font-family: $font;
    color: map-get($mapa-color , 'color-principal-medio');
  }