//variables de color//

$color-principal-claro:#57567B;
$color-principal-medio:#2E2D59;
$color-principal-oscuro:#1C1B50;
$color-secundario-claro:#9EB69B;
$color-secundario-medio:#8DA68A;
$color-secundario-oscuro:#7C9A78;
$color-fondo-claro:#E1DFDD;
$color-fondo-medio:#D6D3D1;
$color-fondo-oscuro:#CFCBC8;
$color-texto-claro:#6F6E6E;
$color-texto-medio:#454444;
$color-texto-oscuro:#0D0D0D;

//variables tipograficas//

$font:"Ubuntu", sans-serif;

$texto-h1: 6rem;
$texto-h2: 5rem;
$texto-h3: 2,25rem;
$texto-h4: 1,75rem;
$texto-h5: 1,25rem;
$texto-p: 1rem;
$texto-link: 0,875rem;
$texto-nota: 0,75rem;

//variables anchura tipografico//

$spacing-condensada: -6px;
$spacing-normal:0;
$spacing-expandida: +6px;

//variables peso tipografico//

$weight-light: 100;
$weight-regular: 200;
$weight-bold: 400;

//variables interletrado//

$height-normal: 100%;
$height-small: 120%;
$height-large: 150%;

//variables de espaciado//

$espacio-2xs: 0,25rem;
$espacio-xxs: 0,5rem;
$espacio-xs: 0,75rem;
$espacio-s: 1rem;
$espcaio-m: 2rem;
$espacio-l: 2,5rem;
$espacio-xl: 4rem;
$espacio-2xl: 8rem;