.contenedor__grid {
    animation: movimiento 2s ease-in-out backwards;
  } 

  @keyframes movimiento {
    0%{
      transform: translateY(10vh);
      opacity: 0;
    }
    50%{
      opacity: 1;
    }
    70%{
      opacity: 1;
    }
    100%{
      transform: translateY(0);
      opacity: 1;
    }
  }


.container-fluid {
    
  h1 {
    font-size: $texto-h1;
    font-weight: 200;
    letter-spacing: -6px;
    line-height: 100%;
  }

  h2 {
    font-size: $texto-h2;
    font-weight: 400;
    line-height: 120%;
  }

  h3 {
    font-size: $texto-h3;
    font-weight: 400;
    line-height: 120%;
  }

  h4 {
    font-size: $texto-h4;
    font-weight: 400;
    line-height: 110%;
  }

  h5 {
    font-size: $texto-h5;
    font-weight: 100;
    line-height: 120%;
  }
}

